form.comment-form .logged-in-as a,
.comment-respond .comment-reply-title a:hover,
.vodi-related-articles .header-aside a:hover,
.home-section__flex-header ul.nav li a.active,
.home-section__flex-header ul.nav li a:hover,
.section-featured-tv-show .featured-tv-show__content .nav-link:hover,
.section-featured-tv-show .featured-tv-show__content .nav-link.active,
.home-section .home-section__nav-header .nav-link:hover,
.home-section .home-section__nav-header .nav-link.active,
.home-section.dark .home-section__action--link:hover,
.live-videos .home-section__footer-action--link:hover,
.coming-soon-videos .home-section__footer-action--link:hover,
.section-videos-live-coming-soon .live-video__title a:hover,
.section-videos-live-coming-soon .coming-soon-video__title a:hover,
.event-category-list__inner:hover .event-category-title,
.section-featured-movies-carousel ul.nav .nav-item .nav-link.active,
.section-featured-movies-carousel ul.nav .nav-item .nav-link:hover,
.home-sidebar-area .widget ul.menu li a:hover,
.home-sidebar-area .widget:last-child ul.menu li a:hover:before,
.section-live-game-players-list .live-game-player__social-network-page-link:hover,
.section-live-game-players-list .live-game-player__name a:hover,
.section-live-game-players-list .live-game-player .game-now-playing,
.dark .article .entry-title a:hover,
.dark .article .article__excerp:hover,
.dark .article .article__meta > *:not(.article__categories):hover,
.dark .article .article__meta > *:not(.article__categories) a:hover,
.home-blog-sidebar-section.dark header .header-aside > a:hover,
.home-blog-sidebar-section.dark .widget .entry-title a:hover,
.home-blog-sidebar-section.dark .widget .recentcomments a:hover,
.home-blog-sidebar-section.dark .widget .widget-header .header-aside > a:hover,
.home-blog-sidebar-section.dark .widget .entry-meta > *:not(.entry-categories) a:hover,
.dark .movie__actions .movie-actions--link_add-to-playlist:hover,
.section-movies-list ul.nav li a.active,
.masvideos-widget_movies_year_filter ul li a,
.section-featured-post .featured-post__action a:hover,
.widget-area .masvideos-movies-filter-widget .masvideos-widget-movies-layered-nav-list__item a:hover,
.widget-area .masvideos-movies-filter-widget .masvideos-widget-movies-layered-nav-list__item.chosen,
.widget-area .masvideos-movies-filter-widget .masvideos-widget-movies-layered-nav-list__item.chosen a,
.widget-area .masvideos-videos-filter-widget .masvideos-widget-videos-layered-nav-list__item a:hover,
.widget-area .masvideos-videos-filter-widget .masvideos-widget-videos-layered-nav-list__item.chosen,
.widget-area .masvideos-videos-filter-widget .masvideos-widget-videos-layered-nav-list__item.chosen a,
.widget-area .masvideos-tv-shows-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item a:hover,
.widget-area .masvideos-tv-shows-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item.chosen,
.widget-area .masvideos-tv-shows-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item.chosen a,
.movies_widget_rating_filter ul li.masvideos-layered-nav-rating a,
.movies_widget_rating_filter ul li.masvideos-layered-nav-rating .star-rating .star,
.videos_widget_rating_filter ul li.masvideos-layered-nav-rating .star-rating .star,
.tv_shows_widget_rating_filter ul li.masvideos-layered-nav-rating .star-rating .star,
.episode .nav .nav-item a.active,
.episode__player--next-episode a:hover, .episode__player--prev-episode a:hover,
.dark.single-episode-v3 .episode__player--prev-episode a, .dark.single-episode-v4 .episode__player--next-episode a:hover,
.dark.single-episode-v3 .episode__player--next-episode a, .dark.single-episode-v4 .episode__player--prev-episode a:hover,
.maxlist-more,
.maxlist-less,
.maxlist-more:hover,
.maxlist-less:hover,
.vodi-widget_tv_shows_letter_filter a span:first-child,
.vodi-control-bar .masvideos-widget-movies-layered-nav-list__item.chosen a,
.vodi-control-bar .masvideos-widget-movies-layered-nav-list a:hover,
.vodi-control-bar .masvideos-widget-tv-shows-layered-nav-list__item.chosen a,
.vodi-control-bar .masvideos-widget-tv-shows-layered-nav-list a:hover,
.vodi-control-bar .masvideos-widget-videos-layered-nav-list__item.chosen a,
.vodi-control-bar .masvideos-widget-videos-layered-nav-list a:hover,
.masvideos_tv_shows_widget .tv-show__title:hover,
.masvideos_movies_widget .tv-show__title:hover,
.section-featured-movie .featured-movie__action-icon i,
.home-page-sidebar .sidebar-area .widget_archive li:hover a,
.home-page-sidebar .sidebar-area .widget_meta li:hover a,
.home-page-sidebar .sidebar-area .widget_pages li:hover a,
.home-page-sidebar .sidebar-area .widget_nav_menu li a:hover,
.home-page-sidebar .sidebar-area .widget_categories li:hover a,
.home-page-sidebar .sidebar-area .masvideos-widget-videos-categories li:hover a,
.home-page-sidebar .sidebar-area .widget_archive li:focus a,
.home-page-sidebar .sidebar-area .widget_meta li:focus a,
.home-page-sidebar .sidebar-area .widget_pages li:focus a,
.home-page-sidebar .sidebar-area .widget_nav_menu li a:hover,
.home-page-sidebar .sidebar-area .widget_categories li:focus a,
.home-page-sidebar .sidebar-area .masvideos-widget-videos-categories li:focus a,
.home-page-sidebar.dark .sidebar-area .widget_nav_menu li:hover > a i,
.home-page-sidebar.dark .sidebar-area .widget_categories li:hover a i,
.home-page-sidebar.dark .sidebar-area .masvideos-widget-videos-categories li:hover a i,
.home-page-sidebar.dark .sidebar-area .widget_nav_menu li:focus > a i,
.home-page-sidebar.dark .sidebar-area .widget_categories li:focus a i,
.home-page-sidebar.dark .sidebar-area .masvideos-widget-videos-categories li:focus a i,
.tv_show__season-tabs-wrap .nav .nav-item a,
.single-tv_show .tv-show__rating .avg-rating__number,
.single-movie .summary .movie__meta--genre a,
.single-movie .movie-tabs .nav .nav-item a.active,
.tv-show-tabs .nav .nav-item a.active,
.single-movie .movie__description-tab .movie__meta--genre a,
.single-movie .movie__rating-with-playlist .rating-number-with-text .avg-rating-number,
.single-tv_show .tv-show__rating-with-playlist .rating-number-with-text .avg-rating-number,
.single-movie .movie__description-tab .movie__attributes td a:hover,
.tv-show__attributes td a:hover,
.person__attributes td a:hover,
.masvideos-edit-manage-playlists .masvideos-manage-playlists table tbody td:first-child a:hover,
.yamm .yamm-content li a:hover,
.yamm .yamm-content .movie__actions a.movie-actions--link_watch,
.contact-page .vodi-faq-section .faq-section__faq-header--link:hover,
.sidebar-area.widget-area .masvideos-videos-tags-filter-widget .masvideos-widget-videos-layered-nav-list__item a:hover,
.sidebar-area.widget-area .masvideos-videos-tags-filter-widget .masvideos-widget-videos-layered-nav-list__item.chosen a,
.sidebar-area.widget-area .masvideos-tv-shows-tags-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item a,
.sidebar-area.widget-area .masvideos-tv-shows-tags-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item.chosen a,
.wpulike .wp_ulike_btn:hover::before,
.single-article .entry-content .wp-block-archives li a:hover,
.single-article .entry-content .wp-block-categories li a:hover,
.single-article .entry-content .wp-block-latest-posts li a:hover,
.wpulike .wp_ulike_btn:hover::before,
.episode__link:hover .episode__title, 
.episode__link:focus .episode__title,
.home-section.dark .home-section__flex-header .nav-link:hover,
.section-movies-carousel-aside-header ul.nav .nav-item .nav-link.active,
.section-movies-carousel-aside-header ul.nav .nav-item .nav-link:hover,
.section-movies-carousel-aside-header ul.nav .nav-item .nav-link:focus,
.home-tv-show-section-aside-header ul.nav .nav-item .nav-link.active,
.home-tv-show-section-aside-header ul.nav .nav-item .nav-link:hover,
.home-tv-show-section-aside-header ul.nav .nav-item .nav-link:focus,
.section-tv-episodes-carousel ul.nav .nav-item .nav-link.active,
.section-tv-episodes-carousel ul.nav .nav-item .nav-link:hover,
.section-tv-episodes-carousel ul.nav .nav-item .nav-link:focus,
.section-movies-list ul.nav li a:hover,
.section-movies-list ul.nav li a:focus,
.home-section .home-section__footer-view-more-action--link:hover,
.section-movies-list .nav-tabs li a.nav-link.active, 
.section-movies-list .top-movies-list__header .nav-tabs li a.nav-link.active,
.woocommerce-account .masvideos-MyAccount-content table tbody td:first-child a:hover,
.single-movie-v6 .movie-cast-crew-tabs ul.nav li a,
.single-movie-v7 .movie-cast-crew-tabs ul.nav li a,
.single-movie-v6 .single-movie-casts .movie-cast > a:hover,
.single-movie-v7 .single-movie-casts .movie-cast > a:hover,
.single-movie-v5 .movie-cast-crew-tabs ul.nav li a,
.single-movie #reviews .masvideos-review__author,
.video-download-btn:hover > i,
.episode-download-btn:hover > i,
.single-movie-v6 .single-movie-details--attributes table.movie__attributes td span a:hover,
.single-movie-v7 .single-movie-details--attributes table.movie__attributes td span a:hover,
.person-tabs ul.nav li a.active,
.person-credits-tabs ul.nav li a.active,
.single-movie-v6 .single-movie-highlighted-comment .comment_container--inner .masvideos-review__author, 
.single-movie-v7 .single-movie-highlighted-comment .comment_container--inner .masvideos-review__author,
.single-movie-v6.single-movie .masvideos-reviews__title:after, 
.single-movie-v7.single-movie .masvideos-reviews__title:after,
.single-movie-v6 .movie-cast-crew-tabs .tab-content .movie-cast .person-name-link,
.single-movie-v6 .movie-cast-crew-tabs .tab-content .movie-crew .person-name-link,
.dark.single-movie-v6 .movie-cast-crew-tabs .tab-content .movie-cast h3.person-name, 
.dark.single-movie-v6 .movie-cast-crew-tabs .tab-content .movie-crew h3.person-name,
.single-movie-v7 .movie-cast-crew-tabs .tab-content .movie-cast .person-name-link,
.single-movie-v7 .movie-cast-crew-tabs .tab-content .movie-crew .person-name-link,
.dark.single-movie-v7 .movie-cast-crew-tabs .tab-content .movie-cast h3.person-name, 
.dark.single-movie-v7 .movie-cast-crew-tabs .tab-content .movie-crew h3.person-name,
.single-movie-v6 h2.single-movie-details--description__title:after, 
.single-movie-v7 h2.single-movie-details--description__title:after {
    color: $vodi-primary-color;
}

.yamm > .menu-item:hover > a,
.yamm > .menu-item:focus > a {
    color: $vodi-primary-color;
}

.site-header.dark .search-form .search-field:focus,
.dark .section-movies-carousel-nav-header__carousel .slick-arrow:hover,
.dark .section-videos-carousel-nav-header__carousel .slick-arrow:hover,
.dark .section-movies-carousel__carousel .slick-arrow:hover,
.dark .section-videos-carousel__carousel .slick-arrow:hover,
.movies-sliders.style-v2 .slick-current.slick-active figure,
form.edit-video-form .video_images_container ul li.image:hover,
.woocommerce-account .masvideos-MyAccount-content .masvideos-pagination--without-numbers a:hover {
    border-color: $vodi-primary-color;
}

#scrollUp,
.video__badge,
.movie__badge,
.masvideos-widget_movies_year_filter ul li a:hover,
.masvideos-widget_movies_year_filter ul li.chosen a,
.tv-show__badge,
.dark .section-movies-carousel-nav-header__carousel .slick-arrow:hover,
.dark .section-videos-carousel-nav-header__carousel .slick-arrow:hover,
.vodi-control-bar .videos-view-switcher .nav-item a:hover,
.vodi-control-bar .archive-view-switcher .nav-item a:hover,
.vodi-control-bar .videos-view-switcher .nav-item a.active,
.vodi-control-bar .archive-view-switcher .nav-item a.active,
.dark .section-movies-carousel__carousel .slick-arrow:hover,
.dark .section-videos-carousel__carousel .slick-arrow:hover,
.movies-sliders.style-v2 .slick-current.slick-active figure:before,
.vodi-widget_tv_shows_letter_filter .vodi-layered-nav-tv-shows-letter.chosen a,
.vodi-widget_tv_shows_letter_filter .vodi-layered-nav-tv-shows-letter a:hover ,
.sidebar-area.widget-area .masvideos-movies-tags-filter-widget .masvideos-widget-movies-layered-nav-list__item:hover,
.sidebar-area.widget-area .masvideos-movies-tags-filter-widget .masvideos-widget-movies-layered-nav-list__item.chosen,
.sidebar-area.widget-area .widget_vodi_tv_shows_filter .masvideos-tv-shows-tags-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item:hover,
.sidebar-area.widget-area .widget_vodi_tv_shows_filter .masvideos-tv-shows-tags-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item.chosen,
.sidebar-area.widget-area .widget_vodi_videos_filter .masvideos-videos-tags-filter-widget .masvideos-widget-videos-layered-nav-list__item:hover,
.sidebar-area.widget-area .widget_vodi_videos_filter .masvideos-videos-tags-filter-widget .masvideos-widget-videos-layered-nav-list__item.chosen,
.comingsoon-launch-section .btn-subscribe,
.tv_show__season-tabs-wrap .nav .nav-item a.active,
.woocommerce-account .masvideos-MyAccount-content .masvideos-pagination--without-numbers a:hover,
.single-movie-v6 .movie-cast-crew-tabs ul.nav li a.active,
.single-movie-v7 .movie-cast-crew-tabs ul.nav li a.active {
    background-color: $vodi-primary-color;
}

.episode-tabs .nav .nav-item a.active:after,
.single-movie .movie-tabs .nav .nav-item a.active:after,
.tv-show-tabs .nav .nav-item a.active:after,
.my-account-page__header .masvideos-MyAccount-navigation ul li.is-active a:after,
.person-tabs ul li a.active:after,
.person-credits-tabs ul li a.active:after,
.video-search-results.search .page__header .search-result-tab-link.active,
.movie-search-results.search .page__header .search-result-tab-link.active,
.tv_show-search-results.search .page__header .search-result-tab-link.active,
.episode-search-results.search .page__header .search-result-tab-link.active,
.person-search-results.search .page__header .search-result-tab-link.active {
    border-bottom-color: $vodi-primary-color;
}

.slider-movie .movie-actions--link_watch,
.movies-sliders .movie-actions--link_watch,
.tv-shows-sliders .tv-show-actions--link_watch,
.section-featured-video .featured-video__content-action--link_watch,
.about-movie .movie-detail .movie-tab__content-action--link_watch,
.featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch,
.section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch ,
.masvideos-register .masvideos-Button,
.masvideos-login .masvideos-Button,
.section-featured-movie .movie-actions--link_watch,
.masvideos-edit-playlist__form .masvideos-Button,
.error-404.not-found .home-button .btn:not(:disabled):not(.disabled),
form.edit-video-form .button,
.single-movie__actions .movie-actions--get-tickets,
.single-movie__actions .movie-actions--watch-now,
.masvideos-EditAccountForm .masvideos-Button,
div.wpforms-container-full.contact-form .wpforms-form input[type=submit],
div.wpforms-container-full.contact-form .wpforms-form button[type=submit], 
div.wpforms-container-full.contact-form .wpforms-form .wpforms-page-button, 
.wpforms-container.contact-form input[type=submit], 
.wpforms-container.contact-form button[type=submit],
.wpforms-container.contact-form .wpforms-page-button,
div.wpforms-container-full.subscribe-form .wpforms-form input[type=submit], 
div.wpforms-container-full.subscribe-form .wpforms-form button[type=submit], 
div.wpforms-container-full.subscribe-form .wpforms-form .wpforms-page-button, 
.wpforms-container.subscribe-form input[type=submit], 
.wpforms-container.subscribe-form button[type=submit], 
.wpforms-container.subscribe-form .wpforms-page-button {
    @include button-variant( $vodi-primary-color, $vodi-primary-color, darken($vodi-primary-color, 10%), darken($vodi-primary-color, 10%) );
}

.home-section .home-section__footer-view-more-action--link:hover {
    @include button-outline-variant($vodi-primary-color);
}

.video-actions--link_add-to-playlist .dropdown-menu > a.toggle-playlist.added:before,
.movie-actions--link_add-to-playlist .dropdown-menu > a.toggle-playlist.added:before,
.tv-show-actions--link_add-to-playlist .dropdown-menu > a.toggle-playlist.added:before,
.sidebar-area .masvideos-movies-filter-widget .masvideos-widget-movies-layered-nav-list__item a:hover:before,
.sidebar-area .masvideos-movies-filter-widget .masvideos-widget-movies-layered-nav-list__item.chosen a:before,
.sidebar-area .masvideos-videos-filter-widget .masvideos-widget-videos-layered-nav-list__item a:hover:before,
.sidebar-area .masvideos-videos-filter-widget .masvideos-widget-videos-layered-nav-list__item.chosen a:before,
.sidebar-area .masvideos-tv-shows-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item a:hover:before,
.sidebar-area .masvideos-tv-shows-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item.chosen a:before,
.sidebar-area.widget-area .masvideos-videos-tags-filter-widget .masvideos-widget-videos-layered-nav-list__item a:hover:before,
.sidebar-area.widget-area .masvideos-videos-tags-filter-widget .masvideos-widget-videos-layered-nav-list__item.chosen a:before,
.sidebar-area.widget-area .masvideos-tv-shows-tags-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item a:hover:before,
.sidebar-area.widget-area .masvideos-tv-shows-tags-filter-widget .masvideos-widget-tv-shows-layered-nav-list__item.chosen a:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18px"><path fill="rgb(36, 186, 239)" d="M-0.000,18.000 L-0.000,-0.000 L18.000,-0.000 L18.000,18.000 L-0.000,18.000 ZM13.387,5.216 C13.312,5.136 13.272,5.039 13.158,4.999 C11.202,7.087 9.246,9.176 7.291,11.263 C6.661,10.603 6.032,9.943 5.403,9.284 C5.249,9.121 5.098,8.958 4.944,8.796 C4.913,8.764 4.862,8.637 4.791,8.660 C4.722,8.742 4.654,8.823 4.586,8.904 C4.391,9.103 4.195,9.302 4.000,9.501 C4.073,9.726 4.708,10.281 4.893,10.477 C5.411,11.028 5.930,11.580 6.449,12.131 C6.709,12.408 6.949,12.758 7.265,12.972 C7.265,12.981 7.265,12.990 7.265,12.999 C7.273,12.999 7.282,12.999 7.291,12.999 C9.527,10.631 11.764,8.262 14.000,5.894 C13.932,5.679 13.542,5.380 13.387,5.216 Z"/></svg>');
}

.vodi-archive-wrapper[data-view="list-large"] .movie:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="grid"] .movie:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="list-small"] .movie:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="list"] .movie:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="grid-extended"] .movie:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="list-large"] .tv-show:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="grid"] .tv-show:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="list-small"] .tv-show:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="list"] .tv-show:hover .avg-rating .vodi-svg,
.vodi-archive-wrapper[data-view="grid-extended"] .tv-show:hover .avg-rating .vodi-svg,
.single-movie .avg-rating .vodi-svg,
.single-tv_show .avg-rating .vodi-svg {
    fill: $vodi-primary-color;
}
